 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

    <script src="{{ "/js/osmauth.min.js" | prepend: site.baseurl }}"></script>

<script>
 auth = osmAuth({
     url: "https://master.apis.dev.openstreetmap.org",
     oauth_consumer_key: 'a5C23lQvm50dycVshSCM46HJYm5mVsfVvfaZN2Wh',
     oauth_secret: 'Kl6EGKalFpgI4MXaEMBdGQw6EbnK1EVEri5cVsDR',
     auto: true,
     done: (info) => { console.log("done loading", info); }
 });
</script>